* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(227, 229, 231);
    
}

.container-func {
    color: rgb(233, 224, 224);
    width: 220px;
    margin: 20px;
    background-color: rgb(39, 38, 36);
    border-radius: 13px;
}

.container-func>h2 {
    text-align: center;
    padding: 30px 0px;
    border-bottom: 1px solid rgb(185, 178, 178);
}

.container-func-name>span {
    display: flex;
    padding: 20px;
    justify-content: start;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.func-name>i {
    padding-right: 10px;
    padding-top: 2px;
}

.container-display {
    margin: 20px;
    width: calc(100% - 240px);
}

.display-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;

}

.display-body {
    margin-top: 40px;
    height: 70vh;
    /* border: 1px solid #000; */
    position: relative;
    display: flex;

    justify-content: center;
}

.display-body-title-container {
    width: 88%;
    color: white;
    background-color: rgb(200, 22, 105);
    padding: 15px 15px;
    border-radius: 10px;
    position: absolute;
    z-index: 100;
    font-size: 20px;
    box-shadow: 2px 2px 6px grey;
    display: flex;
    justify-content: space-between;
}

.display-body-title-btn {
    padding: 3px 7px;
    background-color: rgb(200, 22, 105);
    color: white;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid;
}

.display-body-title-btn:hover {
    background-color: white;
    color: black;
}

.display-body-table-container {
    background-color: rgb(250, 248, 250);
    padding-top: 45px;
    border-radius: 7px;
    position: absolute;
    top: 15px;
    display: flex;
    width: 95%;
    bottom: 10px;
    overflow-y: scroll;
    box-shadow: 1px 1px 8px grey;
}

.display-body-table {
    width: 100%;
    border-spacing: 8px;
    font-size: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}

.display-body-table tr {
    text-align: center;
}

.display-body-table td {
    overflow: hidden;
    height: 100px;
    border-bottom: 1px solid grey;
}

.display-footer {
    text-align: right;
    margin: 30px 0;
    margin-right: 35px;
}

.func-name:hover {
    background-color: #fff;
    color: #333;
}

.header-search-box {
    width: 300px;
    border-radius: 20px;
    border: none;
    height: 30px;
    padding: 3px 20px;
}

.header-search-btn {
    margin-left: 10px;
    border: none;
    cursor: pointer;
    background-color: unset;
}

.display-body-table-btn {
    border: none;
    border-radius: 5px;
    background-color: rgb(200, 22, 105);
    color: #fff;
    padding: 3px 6px;
    cursor: pointer;
}

.display-body-table tr:hover {
    background-color: rgb(255, 255, 255);
}

.container-modal {
    --growth-form: 0.7;
    --growth-to: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    animation: grwoth linear .1s;
    z-index: 500;
    display: none;

}

.container-modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.container-modal-form {
    width: 60%;
    height: 60%;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    background-color: white;
    overflow-y: scroll;
}

.modal-form-title {
    padding: 10px;
    text-align: center;
    font-size: 25px;
    background-color: rgb(39, 38, 36);
    color: #fff;
}

/* .modal-form-product-container {} */

.modal-form-product {
    width: 100%;
    border-spacing: 8px;
    table-layout: fixed;
    border-collapse: collapse;
}

.modal-form-product tr {
    text-align: center;
    border-bottom: 1px solid;
}

.modal-form-detail {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(39, 38, 36);
    color: white;
}

.modal-form-detail .modal-form-detail-bill {
    padding: 20px;
    width: 50%;
    border-right: 1px solid white;
}

.modal-form-detail .modal-form-detail-close {
    padding: 20px;
    width: 50%;
    cursor: pointer;
}

.modal-form-detail-close:hover {
    background-color: grey;
    color: black;
    font-size: larger;
}

.active-func{
    background-color: #fff;
    color: #333;
}

/* ADD */
.addproduct {
    margin:auto;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 330px;
    border-radius: 15px;
    z-index: 600;
    display: none;
}

.addproduct_title {
    padding: 15px 18px;
    display: flex;
    justify-content: space-between;
    color: #fccfae;
    font-size: 20px;
    background-color: black;
    border-radius: 15px 15px 0 0;
}

.addproduct_title div {
    margin: auto 0px;
}

.addproduct_title i {
    cursor: pointer;
    font-size: 30px;
}

.addproduct_body {
    margin: 20px 0px;
    display: flex;
}

.addproduct_img_container {
    text-align: center;
    width: 35%;
}

.addproduct_img_container img {
    width: 140px;
    height: 100%;
}

.addproduct_img {
    height: 140px;
}

.addproduct_img_input {
    margin-top: 8px;
    padding: 6px 12px; 
}

.addproduct_description {
    width: 65%;
    font-size: 18px;
}

.addproduct_name span, .addproduct_price span, .addproduct_brand span {
    margin-left: 10px;
}

.product_name_input, .price_admin_input, .product_brand_input {
    padding: 5px;
    border: none;
    width: 300px;
    background-color: transparent;
    margin: 10px 0px;
}

.addproduct_button {
    text-align: right;  
}

.addproduct button {
    font-size: 15px;
    width: 35px;
    margin-right:22px;
    border-radius:5px;
    cursor: pointer;
    background-color: black;
    padding: 6px;
    border: none;
}

/* FIX */
.fixproduct {
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 330px;
    border-radius: 15px;
    z-index: 600;
    display: none;
}

.fixproduct_title {
    padding: 15px 18px;
    display: flex;
    justify-content: space-between;
    color: #fccfae;
    font-size: 20px;
    background-color: black;
    border-radius: 15px 15px 0 0;
}

.fixproduct_title div {
    margin: auto 0px;
}

.fixproduct_title i {
    cursor: pointer;
    font-size: 30px;
}

.fixproduct_body {
    margin: 20px 0px;
    display: flex;
}

.fixproduct_img_container {
    text-align: center;
    width: 35%;
}

.fixproduct_img_container img {
    width: 140px;
    height: 100%;
}

.fixproduct_img {
    height: 140px;
}

.fixproduct_img_input {
    margin-top: 8px;
    padding: 6px 12px; 
}

.fixproduct_description {
    width: 65%;
    font-size: 18px;
}

.fixproduct_name span, .fixproduct_price span, .fixproduct_brand span {
    margin-left: 10px;
}

.product_name_input, .price_admin_input, .product_brand_input {
    padding: 10px;
    border: none;
    width: 300px;
    background-color: #eee;
    margin: 5px 0px;
    border-radius: 8px;
    outline: none
}

.fixproduct_button {
    text-align: right;  
}

.fixproduct button {
    font-size: 15px;
    color: #fccfae;
    width: 50px;
    margin-right:22px;
    border-radius:8px;
    cursor: pointer;
    background-color: black;
    padding: 8px 13px;
    border: none;
}
/* DETAIL PRODUCT */
.detailproudct{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 250px;
    border-radius: 15px;
    z-index: 600;
    display: none;
}
.detailproduct_title{
    padding: 15px 18px;
    display: flex;
    justify-content: space-between;
    color: #fccfae;
    font-size: 20px;
    background-color: black;
    border-radius: 15px 15px 0 0;
}
.detailproduct_body table{
    width: 100%;
    border-spacing: 8px;
    font-size: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}
.detailproduct_body table tr{
    text-align: center;
}
.detailproduct_body table tr img{
    width: 50px;
    height: 50px;
}